@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.info-wrap {
  background: #fafafa !important;
}

#patientInfoSection,
#resultSection {
  background: white !important;
}

#patientInfoTable > tbody > tr > td {
  padding: 5px !important;
}

.savePdfBtn{
  margin-left: 74px;
}